.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.nav-item {
    margin: 0;
}

.nav-item a {
    display: block;
    padding: 10px 20px;
    color: rgb(6, 84, 80);
    text-decoration: none;
    border-right: 1px solid #444; 
}

.nav-item a:hover {
    background-color: rgb(194, 192, 189);
}


.nav-item:last-child a {
    border-right: none;
}