.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.nav-item {
    margin: 0;
}

.nav-item a {
    display: block;
    padding: 10px 20px;
    color: rgb(6, 84, 80);
    text-decoration: none;

}

.nav-item a:hover {
    text-shadow: 0.4px 0.4px;
}


.nav-item:last-child a {
    border-right: none;
}