.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  
  .logo-bar {
    display: flex;
    flex-direction: row;
    
    .logo {
      flex-grow: 0;
      justify-content: left;
      padding: 20px;
      padding-left: 60px;
    }
    
    .header-text {
      font-size: 40px;
      text-align: center;
      justify-content: center;
      width: 100%;
      top: 1%;
    }
    .empty-logo {
      flex-grow: 0;
      justify-content: left;
      width: 180px;
    }
  }

  .nav-bar {
    border-top: 1px solid #edecec;
    padding-top: 7.5px;
    /* padding-bottom: 7.5px; */
    padding-left: 45px;
  }
}

.welcome-text {
  text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(233, 246, 243);
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;

    .content {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;  

      .product-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
    }
    


  .footer {
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }