.header {
  display: flex;
  background-color: white;
    .logo {
      flex-grow: 0;
      justify-content: left;
      padding: 20px;
    }
    .header-text {
      flex-grow: 1;
      font-size: 70px;
      justify-content: center;
      text-align: center;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(233, 246, 243);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
